<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <div class="flex-column p-2">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" [ngModel]="usuario.nome"
                required #nome="ngModel" [ngClass]="aplicaInvalidErro(nome)">
            <div *ngIf="verificaValidTouched(nome)" class="d-flex flex-row"
            [ngClass]="aplicaFeedbackErro(nome)">
                Nome obrigatório.
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="flex-column p-2">
            <div class="d-flex flex-row">
                <label for="email">Email</label>
            </div>
            <div class="d-flex flex-row">
                <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email"
                    [ngModel]="usuario.email" required email #email="ngModel"
                    [ngClass]="aplicaInvalidErro(email)">
            </div>
            <div *ngIf="email.touched && !email.valid" [ngClass]="aplicaFeedbackErro(email)" class="d-flex flex-row">
                Email obrigatório.
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row p-2">
            <div class="flex-column col-sm-3">
                <label for="CEP">CEP</label>
                <input type="text" class="form-control" id="cep" name="cep" [ngModel]="usuario.cep" required
                    #cep="ngModel" [ngClass]="aplicaInvalidErro(cep)">
                <div *ngIf="cep.touched && !cep.valid" class="d-flex flex-row"
                [ngClass]="aplicaFeedbackErro(cep)">
                    CEP obrigatório.
                </div>
            </div>
            <div class="flex-column col-sm-3">
                <label for="numero">Numero</label>
                <input type="number" class="form-control" id="numero" name="numero" [ngModel]="usuario.numero" required
                    #numero="ngModel" [ngClass]="aplicaInvalidErro(numero)">
                <div *ngIf="numero.touched && !numero.valid" class="d-flex flex-row"
                [ngClass]="aplicaFeedbackErro(numero)">
                    Numero obrigatório.
                </div>
            </div>
            <div class="flex-column col-sm-6">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" id="complemento" name="complemento"
                    [ngModel]="usuario.complemento" #complemento="ngModel"
                    [ngClass]="aplicaInvalidErro(complemento)">
            </div>
        </div>
    </div>

    <div class="from-group">
        <div class="flex-row p-2">
            <label for="rua">Rua</label>
            <input type="text" class="form-control" id="rua" name="rua" [ngModel]="usuario.rua" required #rua="ngModel"
            [ngClass]="aplicaInvalidErro(rua)" readonly>
        </div>
    </div>

    <div class="form-group">
        <div class="row p-2">
            <div class="flex-column col-sm-5">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" id="bairro" name="bairro" [ngModel]="usuario.bairro" required
                    #bairro="ngModel" [ngClass]="aplicaInvalidErro(bairro)" readonly>
            </div>
            <div class="flex-column col-sm-4">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade" name="cidade" [ngModel]="usuario.cidade" required #cidade="ngModel" [ngClass]="aplicaInvalidErro(cidade)" readonly>
            </div>
            <div class="flex-column col-sm-3">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado" name="estado" [ngModel]="usuario.estado" required #estado="ngModel" [ngClass]="aplicaInvalidErro(estado)" readonly>
            </div>
        </div>
    </div>

    <br>

    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>

    <app-form-debug [form]="f"></app-form-debug>
</form>