<nav>
    <div class="nav-wrapper">
        <a routerLink="" routerLinkActive="active" class="brand-logo right">Rotas Ng2</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/cursos" [queryParams]="{pagina:1}">Curso</a></li>
            <!-- <li><a [routerLink]="['curso', idCurso.value]">Curso com id</a></li> -->
            <li><a routerLink="/alunos">Alunos</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <!-- <p>Entre com o id do curso</p>
    <input #idCurso> -->
    <router-outlet></router-outlet>
</div>

