<div style="margin-top: 20px;">
    <div class="input-group">
        <input
            type="file"
            class="form-control"
            id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04"
            aria-label="Upload"
            (change)="onChange($event)"
            multiple
        />
        <button
            class="btn btn-outline-secondary"
            type="button"
            id="inputGroupFileAddon04"
            (click)="onUpload()"
            [disabled]="!files"
        >
            Enviar
        </button>
    </div>
    <div class="progress" style="margin-top: 20px;">
        <div
            class="progress-bar"
            role="progressbar"
            [style.width]="progress + '%'"
        >
            {{ progress }}%
        </div>
    </div>
</div>
