<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="flex-column p-2">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" formControlName="nome" [ngClass]="aplicaInvalidErro('nome')">
        </div>
    </div>

    <div class="form-group">
        <div class="flex-column p-2">
            <div class="d-flex flex-row">
                <label for="email">Email</label>
            </div>
            <div class="d-flex flex-row">
                <input type="email" class="form-control" id="email" placeholder="email@email.com" formControlName="email" [ngClass]="aplicaInvalidErro('email')">
            </div>
        </div>
    </div>
    <div>
        <div class="form-group">
            <div class="row p-2">
                <div class="flex-column col-sm-3">
                    <label for="CEP">CEP</label>
                    <input type="text" class="form-control" id="cep" [ngClass]="aplicaInvalidErro('cep')" formControlName="cep">
                </div>
                <div class="flex-column col-sm-3">
                    <label for="numero">Numero</label>
                    <input type="number" class="form-control" id="numero" [ngClass]="aplicaInvalidErro('numero')" formControlName="numero">
                </div>
                <div class="flex-column col-sm-6">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento" [ngClass]="aplicaInvalidErro('complemento')" formControlName="complemento">
                </div>
            </div>
        </div>
    
        <div class="from-group">
            <div class="flex-row p-2">
                <label for="rua">Rua</label>
                <input type="text" class="form-control" id="rua" [ngClass]="aplicaInvalidErro('rua')" formControlName="rua">
            </div>
        </div>
    
        <div class="form-group">
            <div class="row p-2">
                <div class="flex-column col-sm-5">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" [ngClass]="aplicaInvalidErro('bairro')" formControlName="bairro">
                </div>
                <div class="flex-column col-sm-4">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" [ngClass]="aplicaInvalidErro('cidade')" formControlName="cidade">
                </div>
                <div class="flex-column col-sm-3">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" id="estado" [ngClass]="aplicaInvalidErro('estado')" formControlName="estado">
                </div>
            </div>
        </div>
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn" (click)="resetar()">Cancelar</button>


    <app-form-debug [form]="formulario"></app-form-debug>
</form>